In [1]:
import pandas as pd
import numpy as np
online_retail = pd.read_csv('Online_Retail.csv')
online_retail.head()
# Читаю данные

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,"3,39",17850.0,United Kingdom
1,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/10 8:34,"1,69",13047.0,United Kingdom
2,536367,21755,LOVE BUILDING BLOCK WORD,3,12/1/10 8:34,"5,95",13047.0,United Kingdom
3,536368,22914,BLUE COAT RACK PARIS FASHION,3,12/1/10 8:34,"4,95",13047.0,United Kingdom
4,536373,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 9:02,"2,75",17850.0,United Kingdom

In [2]:
online_retail.info()
# смотрю тип данных и где их не хватает

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54214 entries, 0 to 54213
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    54214 non-null  object
 1   StockCode    54214 non-null  object
 2   Description  54080 non-null  object
 3   Quantity     54214 non-null  int64
 4   InvoiceDate  54214 non-null  object
 5   UnitPrice    54214 non-null  object
 6   CustomerID   40643 non-null  float64
 7   Country      54214 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 3.3+ MB

In [3]:
online_retail['UnitPrice'] = online_retail['UnitPrice'].apply(lambda x: str(x).replace(',', '.'))
online_retail['UnitPrice'] = online_retail['UnitPrice'].astype(float)
online_retail['Quantity'] = online_retail['Quantity'].astype(float)
online_retail.loc[:, 'earnings'] = online_retail['Quantity'] * online_retail['UnitPrice']
online_retail
# меняю тип данных для вычисления выручки

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,earnings
0,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,12/1/10 8:26,3.39,17850.0,United Kingdom,20.34
1,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32.0,12/1/10 8:34,1.69,13047.0,United Kingdom,54.08
2,536367,21755,LOVE BUILDING BLOCK WORD,3.0,12/1/10 8:34,5.95,13047.0,United Kingdom,17.85
3,536368,22914,BLUE COAT RACK PARIS FASHION,3.0,12/1/10 8:34,4.95,13047.0,United Kingdom,14.85
4,536373,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,12/1/10 9:02,2.75,17850.0,United Kingdom,22.00
...,...,...,...,...,...,...,...,...,...
54209,581585,84832,ZINC WILLIE WINKIE CANDLE STICK,24.0,12/9/11 12:31,0.85,15804.0,United Kingdom,20.40
54210,581585,23084,RABBIT NIGHT LIGHT,12.0,12/9/11 12:31,2.08,15804.0,United Kingdom,24.96
54211,581585,84692,BOX OF 24 COCKTAIL PARASOLS,25.0,12/9/11 12:31,0.42,15804.0,United Kingdom,10.50
54212,581587,22631,CIRCUS PARADE LUNCH BOX,12.0,12/9/11 12:50,1.95,12680.0,France,23.40
54213,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4.0,12/9/11 12:50,4.15,12680.0,France,16.60

In [4]:
new_data = online_retail.loc[online_retail['earnings'] > 0]
new_data
# без отрицательных величин и нулей

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,earnings
0,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,12/1/10 8:26,3.39,17850.0,United Kingdom,20.34
1,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32.0,12/1/10 8:34,1.69,13047.0,United Kingdom,54.08
2,536367,21755,LOVE BUILDING BLOCK WORD,3.0,12/1/10 8:34,5.95,13047.0,United Kingdom,17.85
3,536368,22914,BLUE COAT RACK PARIS FASHION,3.0,12/1/10 8:34,4.95,13047.0,United Kingdom,14.85
4,536373,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,12/1/10 9:02,2.75,17850.0,United Kingdom,22.00
...,...,...,...,...,...,...,...,...,...
54209,581585,84832,ZINC WILLIE WINKIE CANDLE STICK,24.0,12/9/11 12:31,0.85,15804.0,United Kingdom,20.40
54210,581585,23084,RABBIT NIGHT LIGHT,12.0,12/9/11 12:31,2.08,15804.0,United Kingdom,24.96
54211,581585,84692,BOX OF 24 COCKTAIL PARASOLS,25.0,12/9/11 12:31,0.42,15804.0,United Kingdom,10.50
54212,581587,22631,CIRCUS PARADE LUNCH BOX,12.0,12/9/11 12:50,1.95,12680.0,France,23.40
54213,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4.0,12/9/11 12:50,4.15,12680.0,France,16.60

In [5]:
new_data.groupby('Country').count().sort_values(by=['Description'], ascending = False)
# Смотрю разбивку по странам

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,earnings
Country,,,,,,,,
United Kingdom,48550,48550,48550,48550,48550,48550,35369,48550
Germany,909,909,909,909,909,909,909,909
France,866,866,866,866,866,866,859,866
EIRE,758,758,758,758,758,758,699,758
Spain,251,251,251,251,251,251,251,251
Netherlands,232,232,232,232,232,232,232,232
Belgium,206,206,206,206,206,206,206,206
Switzerland,187,187,187,187,187,187,177,187
Portugal,151,151,151,151,151,151,147,151
Australia,123,123,123,123,123,123,123,123
Norway,104,104,104,104,104,104,104,104
Channel Islands,81,81,81,81,81,81,81,81
Italy,74,74,74,74,74,74,74,74
Finland,72,72,72,72,72,72,72,72
Cyprus,60,60,60,60,60,60,60,60
Sweden,49,49,49,49,49,49,49,49
Austria,48,48,48,48,48,48,48,48
Poland,42,42,42,42,42,42,42,42
Unspecified,36,36,36,36,36,36,21,36
Denmark,35,35,35,35,35,35,35,35
Hong Kong,28,28,28,28,28,28,0,28
Israel,27,27,27,27,27,27,20,27
Japan,27,27,27,27,27,27,27,27
Singapore,24,24,24,24,24,24,24,24
Iceland,15,15,15,15,15,15,15,15
Greece,14,14,14,14,14,14,14,14
Canada,13,13,13,13,13,13,13,13
USA,12,12,12,12,12,12,12,12
Malta,8,8,8,8,8,8,8,8
Lithuania,6,6,6,6,6,6,6,6
European Community,5,5,5,5,5,5,5,5
United Arab Emirates,5,5,5,5,5,5,5,5
RSA,4,4,4,4,4,4,4,4
Brazil,3,3,3,3,3,3,3,3
Czech Republic,2,2,2,2,2,2,2,2
Lebanon,1,1,1,1,1,1,1,1
Bahrain,1,1,1,1,1,1,1,1

In [6]:
new_data.loc[new_data['Country'] == 'United Kingdom', 'Region'] = 'UK'
new_data.loc[new_data['Country'] != 'United Kingdom', 'Region'] = 'Export'
new_data
# Добавляю регион uk или экспорт

C:\Users\mvent\anaconda\lib\site-packages\pandas\core\indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
C:\Users\mvent\anaconda\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,earnings,Region
0,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,12/1/10 8:26,3.39,17850.0,United Kingdom,20.34,UK
1,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32.0,12/1/10 8:34,1.69,13047.0,United Kingdom,54.08,UK
2,536367,21755,LOVE BUILDING BLOCK WORD,3.0,12/1/10 8:34,5.95,13047.0,United Kingdom,17.85,UK
3,536368,22914,BLUE COAT RACK PARIS FASHION,3.0,12/1/10 8:34,4.95,13047.0,United Kingdom,14.85,UK
4,536373,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,12/1/10 9:02,2.75,17850.0,United Kingdom,22.00,UK
...,...,...,...,...,...,...,...,...,...,...
54209,581585,84832,ZINC WILLIE WINKIE CANDLE STICK,24.0,12/9/11 12:31,0.85,15804.0,United Kingdom,20.40,UK
54210,581585,23084,RABBIT NIGHT LIGHT,12.0,12/9/11 12:31,2.08,15804.0,United Kingdom,24.96,UK
54211,581585,84692,BOX OF 24 COCKTAIL PARASOLS,25.0,12/9/11 12:31,0.42,15804.0,United Kingdom,10.50,UK
54212,581587,22631,CIRCUS PARADE LUNCH BOX,12.0,12/9/11 12:50,1.95,12680.0,France,23.40,Export
54213,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4.0,12/9/11 12:50,4.15,12680.0,France,16.60,Export

In [7]:
new_data['InvoiceDate'] = pd.to_datetime(new_data['InvoiceDate'])
new_data
# делаю дату читаемой

<ipython-input-7-14ad37297a88>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['InvoiceDate'] = pd.to_datetime(new_data['InvoiceDate'])

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,earnings,Region
0,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,UK
1,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32.0,2010-12-01 08:34:00,1.69,13047.0,United Kingdom,54.08,UK
2,536367,21755,LOVE BUILDING BLOCK WORD,3.0,2010-12-01 08:34:00,5.95,13047.0,United Kingdom,17.85,UK
3,536368,22914,BLUE COAT RACK PARIS FASHION,3.0,2010-12-01 08:34:00,4.95,13047.0,United Kingdom,14.85,UK
4,536373,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,2010-12-01 09:02:00,2.75,17850.0,United Kingdom,22.00,UK
...,...,...,...,...,...,...,...,...,...,...
54209,581585,84832,ZINC WILLIE WINKIE CANDLE STICK,24.0,2011-12-09 12:31:00,0.85,15804.0,United Kingdom,20.40,UK
54210,581585,23084,RABBIT NIGHT LIGHT,12.0,2011-12-09 12:31:00,2.08,15804.0,United Kingdom,24.96,UK
54211,581585,84692,BOX OF 24 COCKTAIL PARASOLS,25.0,2011-12-09 12:31:00,0.42,15804.0,United Kingdom,10.50,UK
54212,581587,22631,CIRCUS PARADE LUNCH BOX,12.0,2011-12-09 12:50:00,1.95,12680.0,France,23.40,Export
54213,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4.0,2011-12-09 12:50:00,4.15,12680.0,France,16.60,Export

In [8]:
new_data.groupby('Region').count().sort_values(by=['Description'], ascending = False)
# Смотрю разбивку по регионам

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,earnings
Region,,,,,,,,,
UK,48550,48550,48550,48550,48550,48550,35369,48550,48550
Export,4479,4479,4479,4479,4479,4479,4349,4479,4479

In [13]:
# new_data.loc[new_data['CustomerID'] == ' ', 'CustomerID'] == 'No data'
new_data['CustomerID'].fillna('No data', inplace=True)
new_data

C:\Users\mvent\anaconda\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,earnings,Region
0,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,UK
1,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32.0,2010-12-01 08:34:00,1.69,13047.0,United Kingdom,54.08,UK
2,536367,21755,LOVE BUILDING BLOCK WORD,3.0,2010-12-01 08:34:00,5.95,13047.0,United Kingdom,17.85,UK
3,536368,22914,BLUE COAT RACK PARIS FASHION,3.0,2010-12-01 08:34:00,4.95,13047.0,United Kingdom,14.85,UK
4,536373,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,2010-12-01 09:02:00,2.75,17850.0,United Kingdom,22.00,UK
...,...,...,...,...,...,...,...,...,...,...
54209,581585,84832,ZINC WILLIE WINKIE CANDLE STICK,24.0,2011-12-09 12:31:00,0.85,15804.0,United Kingdom,20.40,UK
54210,581585,23084,RABBIT NIGHT LIGHT,12.0,2011-12-09 12:31:00,2.08,15804.0,United Kingdom,24.96,UK
54211,581585,84692,BOX OF 24 COCKTAIL PARASOLS,25.0,2011-12-09 12:31:00,0.42,15804.0,United Kingdom,10.50,UK
54212,581587,22631,CIRCUS PARADE LUNCH BOX,12.0,2011-12-09 12:50:00,1.95,12680.0,France,23.40,Export
54213,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4.0,2011-12-09 12:50:00,4.15,12680.0,France,16.60,Export

In [14]:
new_data.to_excel('Online_Retail_new.xlsx', index=False)
# записываю файл